name: CI/CD with Node


on:
    push:
        branches:
            -main

jobs:
    test:
        runs-on: ubuntu-letest
        
        steps:
              - name: Checkout the Repo
                uses: actions/checkout@v4
