name: Node

on:
    push:
        branches:
            - main

jobs:

    test:
        runs-on: self-hosted

        steps:
            - name: checkout Repo
              uses: actions/checkout@v2

            - name: Node install
              uses: actions/setup-node@v6

            - name: Install dependencies
              run: npm install
        
            

    deploy:
        runs-on: self-hosted
        needs: test

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Install Dependencies
              run: npm install

            - name: Deploy App
              run: |
                pm2 restart app || pm2 start app.js --name="app"
      
            