name: Node CI/CD

on:
  push:
    branches:
      - main

jobs:

  test:
    runs-on: self-hosted

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Dependencies
        run: npm install

  deploy:
    runs-on: self-hosted
    needs: test

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        run: curl -fsSL https://deb.nodesource.com/setup_18.x | sudo -E bash -sudo apt-get install -y nodejs


      - name: Install Dependencies
        run: npm install

      - name: Deploy App
        run: |
          pm2 restart app || pm2 start app.js --name="app"
